body {
    margin: 0px;
    padding: 0px;
    background: #ebebeb;
 }
 a {
    color: #333333;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

.router-link-active {
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}